<section>
    <div class="container flex">
        <div class="text">
            <h3><strong>Discuss this post</strong></h3>
            <p>Head on over to the dogesec community to discuss this post.</p>
            <div class="cta button"><a target="_blank" href="https://community.dogesec.com/">Join the discussion...</a></div>
        </div>
         <div class="image">
            <img class="img-fluid" src="/assets/images/global/community-screenshot.png" alt="dogesec community" title="dogesec community" />
        </div>
    </div>
</section>