---
title: Pricing
heading: Pricing
description: Join 1000's of other security professionals who supercharge their research using CTI Butler.
image: /assets/images/global/ctibutler-object.png
author: dogesec
sitemap: true
excluded_in_search: false
pricing_table:
  - name: Free
    color: "#66abf3"
    features:
      - text: 1 Team Member
        highlight: false
      - text: <del>Technique Prediction</del>
        highlight: false
      - text: <del>Blog Post lookup</del>
        highlight: false
      - text: <del>Intel Report lookup</del>
        highlight: false
      - text: <del>Vulnerability lookup</del>
        highlight: false
      - text: <del>ATT&CK Navigator Layers</del>
        highlight: false
      - text: <del>STIX Bundle Export</del>
        highlight: false
      - text: <del>3rd-Party Integrations</del>
        highlight: false
      - text: <del>REST API</del>
        highlight: false
      - text: <del>TAXII API</del>
        highlight: false
      - text: £0
        highlight: true
      - text: /month
        highlight: false
    call_to_action:
      link: https://app.ctibutler.com
      text: Get started now
  - name: Analyst
    color: "#328fef"
    features:
      - text: 1 Team Member
        highlight: false    
      - text: Technique Prediction
        highlight: false
      - text: Blog Post lookup
        highlight: false
      - text: Intel Report lookup
        highlight: false
      - text: Vulnerability lookup
        highlight: false
      - text: ATT&CK Navigator Layers
        highlight: false
      - text: <del>STIX Bundle Export</del>
        highlight: false
      - text: <del>3rd-Party Integrations</del>
        highlight: false
      - text: <del>REST API</del>
        highlight: false
      - text: <del>TAXII API</del>
        highlight: false
      - text: £49
        highlight: true
      - text: /month
        highlight: false
    call_to_action:
      link: https://app.ctibutler.com
      text: Get started now
  - name: Enterprise
    color: "#0073ec"
    features:
      - text: 10 Team Members
        highlight: false
      - text: Technique Prediction
        highlight: false
      - text: Blog Post lookup
        highlight: false
      - text: Intel Report lookup
        highlight: false
      - text: Vulnerability lookup
        highlight: false
      - text: ATT&CK Navigator Layers
        highlight: false
      - text: STIX Bundle Export
        highlight: false
      - text: 3rd-Party Integrations
        highlight: false
      - text: REST API
        highlight: false
      - text: TAXII API
        highlight: false
      - text: £59
        highlight: true
      - text: /month
        highlight: false
    call_to_action:
      link: https://app.ctibutler.com
      text: Get started now

faq:

  - question: Do you offer free trials for paid plans?
    answer: No. You can explore CTI Butler using the free plan to determine if the data and APIs suit your needs. If you want to download data you must have a paid subscription.
  - question: Are requests to the API limited?
    answer: We have a fair use policy that allows for up to 1,000 requests per day, per team member. Therefore if your plan supports 10 team members, you can make 10,000 requests to the API per day. Whilst this limit is sufficient for most teams, <a target="_blank" href="https://support.dogesec.com/">please contact us directly to discuss custom plans with increased limits</a>.
  - question: Can I invite users outside my email domain to my team?
    answer: No. A team is considered to be a single company and all team members must have an email address with the same domain name. We are aware of some edge-case (e.g. geographic domains) which we will allow for. Please raise a <a target="_blank" href="https://support.dogesec.com/">support ticket here</a> if you feel you are one of these edge cases.
  - question: I'm an MSSP, distributor, reseller, etc. Can I use/resell CTI Butler with my clients?
    answer: Yes. CTI Butler supports multi-tenancy for your clients (each client will be separate team in CTI Butler). <a target="_blank" href="https://support.dogesec.com/">Please contact us for discounted pricing</a>.
  - question: How does cancellation work?
    answer: You can cancel your plan at any time inside CTI Butler (no human contact required!). Once cancelled your plan will remain active until your next billing period.
  - question: I have another question. How can I get in contact?
    answer: The <a target="_blank" href="https://community.dogesec.com/">dogesec Community Forum</a> is a great resource for interacting with other customers (and dogesec staff) for product usage type questions. However, if you need to contact us directly, <a target="_blank" href="https://support.dogesec.com">please use our support portal</a>.

---
<div class="plans">
  {% for plan in page.pricing_table %}
    <ul class="plan">
      <li style="background: {{ plan.color }}">
        <h3>{{ plan.name }}</h3>
      </li>
      {% for feature in plan.features %}
        <li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
      {% endfor %}

      {% if plan.call_to_action %}
        <li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
      {% endif %}
    </ul>
  {% endfor %}
</div>

{% if page.faq %}
  <h2>FAQ</h2>
  <dl class="faq">
    {% for item in page.faq %}
      <div>
        <dt>{{ item.question }}</dt>
        <dd>{{ item.answer }}</dd>
      </div>
    {% endfor %}
  </dl>
{% endif %}
