---
title: Pricing
heading: Pricing
description: Join 1000's of other security professionals who supercharge their research using CTI Butler.
image: /assets/images/global/ctibutler-object.png
author: dogesec
sitemap: true
excluded_in_search: false
pricing_table:
  - name: Analyst
    color: "#328fef"
    features:
      - text: 1 Team Member
        highlight: false    
      - text: Technique Prediction
        highlight: false
      - text: Blog Post lookup
        highlight: false
      - text: Intel Report lookup
        highlight: false
      - text: Vulnerability lookup
        highlight: false
      - text: ATT&CK Navigator Layers
        highlight: false
      - text: STIX Bundle Export
        highlight: false
      - text: <del>3rd-Party Integrations</del>
        highlight: false
      - text: <del>REST API</del>
        highlight: false
      - text: <del>TAXII API</del>
        highlight: false
      - text: $29
        highlight: true
      - text: /month
        highlight: false
    call_to_action:
      link: https://app.ctibutler.com
      text: Try for free
  - name: Enterprise
    color: "#0073ec"
    features:
      - text: 10 Team Members
        highlight: false
      - text: Technique Prediction
        highlight: false
      - text: Blog Post lookup
        highlight: false
      - text: Intel Report lookup
        highlight: false
      - text: Vulnerability lookup
        highlight: false
      - text: ATT&CK Navigator Layers
        highlight: false
      - text: STIX Bundle Export
        highlight: false
      - text: 3rd-Party Integrations
        highlight: false
      - text: REST API
        highlight: false
      - text: TAXII API
        highlight: false
      - text: $39
        highlight: true
      - text: /month
        highlight: false
    call_to_action:
      link: https://app.ctibutler.com
      text: Try for free

faq:

  - question: Do I have to commit to a 12 month subscription?
    answer: No. You can subscribe on a month-by-month basis. The prices shown above are based on a 12 month subscription <strong>which are 50% cheaper</strong> than the equivalent monthly subscriptions.
  - question: How does cancellation work?
    answer: You can cancel your plan at any time inside the app (you don't need to contact us!). Once cancelled your account will remain active until the next billing period.
  - question: Do you offer trials longer than 7 days?
    answer: No.
  - question: Are requests to the API limited?
    answer: We have a fair use policy that allows for up to 1,000 requests per day, per team member. Therefore if your plan supports 10 team members, you can make 10,000 requests to the API per day. Whilst this limit is sufficient for most teams, <a target="_blank" href="https://support.dogesec.com/">please contact us directly to discuss custom plans with increased limits</a>.
  - question: I'm an MSSP, distributor, reseller, etc. Can I use/resell the app with my clients?
    answer: Yes. The app supports multi-tenancy for your clients (each client will be separate team). <a target="_blank" href="https://support.dogesec.com/">Please contact us for discounted multi-team pricing</a>.
  - question: Can I invite users outside my email domain to my team?
    answer: No. A team is considered to be a single company and all team members must have an email address with the same domain name. We are aware of some edge-case (e.g. geographic domains) which we will allow for. Please raise a <a target="_blank" href="https://support.dogesec.com/">support ticket here</a> if you feel you are one of these edge cases so we can get this sorted for you.
  - question: Do you offer a plan that covers multiple dogesec products?
    answer: Yes. The dogesec One plan provides access to the highest-tier plans across all our products through a single subscription, at a significantly reduced price. Find out more about <a target="_blank" href="https://www.dogesec.com/pricing">dogesec One pricing here</a>.
  - question: I have another question. How can I get in contact?
    answer: The <a target="_blank" href="https://community.dogesec.com/">dogesec Community Forum</a> is a great resource for interacting with other customers (and dogesec staff) for product usage type questions. However, if you need to contact us directly, <a target="_blank" href="https://support.dogesec.com">please use our support portal</a>.

---
<div class="plans">
  {% for plan in page.pricing_table %}
    <ul class="plan">
      <li style="background: {{ plan.color }}">
        <h3>{{ plan.name }}</h3>
      </li>
      {% for feature in plan.features %}
        <li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
      {% endfor %}

      {% if plan.call_to_action %}
        <li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
      {% endif %}
    </ul>
  {% endfor %}
</div>

{% if page.faq %}
  <h2>FAQ</h2>
  <dl class="faq">
    {% for item in page.faq %}
      <div>
        <dt>{{ item.question }}</dt>
        <dd>{{ item.answer }}</dd>
      </div>
    {% endfor %}
  </dl>
{% endif %}
