---
title: Pricing
heading: Pricing
description: One API. Two Prices.
image: /assets/images/global/ctibutler-api.png
author: DOGESEC
sitemap: true
excluded_in_search: false
pricing_table:
  - name: Developer
    color: "#8C58A7"
    features:
      - text: 1 Team Member
        highlight: false    
      - text: MITRE ATT&CK
        highlight: false
      - text: MITRE CWE
        highlight: false
      - text: MITRE CAPEC
        highlight: false
      - text: MITRE ATLAS
        highlight: false
      - text: DISARM
        highlight: false
      - text: RansomwareKB
        highlight: false
      - text: Sigma Rules
        highlight: false
      - text: YARA Rules
        highlight: false
      - text: $49
        highlight: true
      - text: /mo
        highlight: false
    call_to_action:
      link: https://app.ctibutler.com
      text: Start your free trial
  - name: Enterprise
    color: "#8C58A7"
    features:
      - text: 10 Team Members
        highlight: false 
      - text: MITRE ATT&CK
        highlight: false
      - text: MITRE CWE
        highlight: false
      - text: MITRE CAPEC
        highlight: false
      - text: MITRE ATLAS
        highlight: false
      - text: DISARM
        highlight: false
      - text: RansomwareKB
        highlight: false
      - text: Sigma Rules
        highlight: false
      - text: YARA Rules
        highlight: false
      - text: $69
        highlight: true
      - text: /mo
        highlight: false
    call_to_action:
      link: https://app.ctibutler.com
      text: Start your free trial

faq:

  - question: How long is the free trial? Can I extend it?
    answer: The free trial period is 7 days. Many of our customers decide to commit to a paid plan on day 1. We do not extend free trials.
  - question: How does cancellation work?
    answer: Things change. We get it. You can cancel your plan at any time inside CTI Butler (you don't need to contact us!). Once cancelled your plan will remain active until your next billing period.
  - question: Are requests to the API limited?
    answer: We have a fair use policy that allows for up to 5,000 requests per day. This is not an enforced limit, however if we do notice consistent abuse of this limit we will contact you directly to discuss options (we have additional plans for power-users).
  - question: Can I invite users outside my email domain to my team?
    answer: No. A team is considered to be a single company and all team members must have an email address with the same domain name. We are aware of some edge-case (e.g. geographic domains) which we will allow for. Please raise a <a target="_blank" href="https://support.dogesec.com/">support ticket here</a> if you feel you are one of these edge cases.
  - question: I'm an MSSP, distributor, reseller, etc. Can I use/resell CTI Butler with my clients?
    answer: Yes. CTI Butler supports the management of multiple teams for each of your clients. Please contact us for discounted pricing.
  - question: I have another question. How can I get in contact?
    answer: The <a target="_blank" href="https://community.dogesec.com/">DOGESEC Community Forum</a> is a great resource for interacting with other customers (and DOGESEC staff) for product usage type questions. If you need to contact us directly with a question not suited to the public domain, please raise a <a target="_blank" href="https://support.dogesec.com/">support ticket here</a>.

---
<div class="plans">
  {% for plan in page.pricing_table %}
    <ul class="plan">
      <li style="background: {{ plan.color }}">
        <h3>{{ plan.name }}</h3>
      </li>
      {% for feature in plan.features %}
        <li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
      {% endfor %}

      {% if plan.call_to_action %}
        <li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
      {% endif %}
    </ul>
  {% endfor %}
</div>

{% if page.faq %}
  <h2>FAQ</h2>
  <dl class="faq">
    {% for item in page.faq %}
      <div>
        <dt>{{ item.question }}</dt>
        <dd>{{ item.answer }}</dd>
      </div>
    {% endfor %}
  </dl>
{% endif %}
