<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}
		{% feed_meta %}

		<link rel="stylesheet" type="text/css" href="/assets/css/screen.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/cookieconsent.min.css" />

		{% include favicon.html %}
		
		<script>
		window.addEventListener("load", function(){
		window.cookieconsent.initialise({
		  "palette": {
		    "popup": {
		      "background": "#d80e70",
		      "text": "#fff"
		    },
		    "button": {
		      "background": "#3d068c"
		    }
		  },
		  "content": {
		  	"href": "https://www.dogesec.com/cookies",
		  	"target": "_blank"
  			},
		  "position": "top",
		  "static": true
		})});
		</script>

	</head>
	<body>
		<header>
			<div class="container">
				<div class="company-name"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/global/ctibutler-logo.png" alt="Vulmatch Logo" title="CTI Butler Logo" /></a></div>
				{% include navigation.html %}
			</div>
		</header>
		{{ content }}
		<footer>
			<div class="container">
				<div class="footer-columns">
					{% for column in site.data.footer %}
					<ul class="footer-links">
						{% for link in column.links %}
							<li><a {% if link.new_window %}target="_blank"{% endif %} href="{% include relative-src.html src=link.link %}" {% if link.social_icon %}class="{{ link.social_icon }}-icon"{% endif %}>
								{% if link.social_icon %}
									{% include social-icon.html icon=link.social_icon %}
								{% endif %}
								{{ link.name }}</a></li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
				<p class="copyright">&copy; {{ site.time | date: '%Y' }} <a href="https://www.dogesec.com/" target="_blank">dogesec</a></p>
				<p class="copyright"><a href="https://www.linkedin.com/company/dogesec" target="_blank">LinkedIn</a> | <a href="https://github.com/muchdogesec/" target="_blank">GitHub</a> | <a href="https://www.youtube.com/@muchdogesec" target="_blank">YouTube</a>
			</div>
		</footer>
		<script>
			document.getElementById("open-nav").onclick = function () {
				document.body.classList.toggle("nav-open");
				return false;
			};
		</script>
		<script src="/assets/js/jquery-3.3.1.slim.min.js"></script>
		<script src="/assets/js/popper.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/cookieconsent.min.js"></script>
    	<script src="/assets/js/product-videos.js"></script>

	</body>
</html>